body {
    background: linear-gradient(180deg, #000000, #000022);
    margin: 0;
    padding: 0;
    height: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    transition: background 1s ease;
}

nav, footer {
    background-color: transparent;
    color: white;
    padding: 10px 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    display: inline-block;
}

nav ul li a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}

nav ul li.home {
    position: absolute;
    left: 20px;
}

.center-content {
    text-align: center;
    transition: transform 1s ease;
    width: 100%;
    max-width: 600px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid #007bff;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.5s ease, box-shadow 0.5s ease;
    margin-right: 10px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2s forwards;
    transform: translateY(0);
    box-shadow: none;
}

.button-link:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}

html {
    -behavior: smooth;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}
.center-content h1 {
    font-size: 60px;
    margin: 0;
    position: relative;
    color: white;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out;
}

.center-content p {
    opacity: 0;
    font-size: 20px;
    margin: 10px 0 0;
    color: #b3b3b3;
    animation: fadeIn 2s ease-in-out 2s forwards;
    animation-delay: 2s;
}

footer a {
    color: white;
    text-decoration: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards 1.5s;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    scroll-snap-align: start;
}

.container {
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.automanual {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.automanual li {
    margin: 0 5px;
}

.automanual li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    display: inline-block;
    font-size: 16px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
}

.automanual li a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}

.hidden {
    display: none;
}

#auto-input {
    margin-top: 10px;
}

.inputfield input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    outline: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

.inputfield input::placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-style: italic;
}

.inputfield input:focus {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 15px rgba(102, 175, 233, 0.5);
    transform: scale(1.02);
}